@media screen and (min-width: 1024px) {

    body {
        margin: 0 auto;
        font-family: "Preahvihear";
    }
    /* HEADER */
    #menu {
        display: none;
    }
    
    header {
        background-color: #8ACB88;
        display: flex;
        justify-content: center;
    }
    .navigation {
        display: flex;
        padding: 1.5rem;
        list-style: none;
    }
    .navigation a {
        text-decoration: none;
        margin-right: 2rem;
        margin-left: 2rem;
        color: black;
        font-size: 1.2rem;
    }
    header ul {
        margin: 0;
    }
    /* MAIN */
    main {
        height: 90vh;
        background-color: #E4FDE1;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    table {
        margin: 0 auto;
        background-color: #8ACB88;
        border-collapse: collapse;
    }
    th {
        text-align: center;
        border: 0.5px solid #E4FDE1;
        padding: 12px;
    }
    td {
        text-align: center;
        border: 1px solid #E4FDE1;
        padding: 10px 19px;
    }
    caption {
        font-size: 50px;
        margin: 70px 0;
    }
    .rental {
        padding: 15px;
        font-size: 20px;
    }


    /* FOOTER */
    footer {
        background-color: #8ACB88;
        height: 100px;
    }
    footer p {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

}
@media screen and (max-width: 1024px) and (min-width: 500px) {

    body {
        margin: 0 auto;
        font-family: "Preahvihear";
    }
    /* HEADER */
    #menu {
        display: none;
    }
    
    header {
        background-color: #8ACB88;
        display: flex;
        justify-content: center;
    }
    .navigation {
        display: flex;
        padding: 1.5rem;
        list-style: none;
    }
    .navigation a {
        text-decoration: none;
        margin-right: 2rem;
        margin-left: 2rem;
        color: black;
        font-size: 1.1rem;
    }
    header ul {
        margin: 0;
    }
    /* MAIN */
    main {
        height: 90vh;
        background-color: #E4FDE1;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    table {
        margin: 0 auto;
        background-color: #8ACB88;
        border-collapse: collapse;
        font-size: 13px;
    }
    th {
        text-align: center;
        border: 0.5px solid #E4FDE1;
        padding: 7px;
    }
    td {
        text-align: center;
        border: 1px solid #E4FDE1;
        padding: 10px 10px;
    }
    caption {
        font-size: 30px;
        margin: 50px 0;
    }
    .rental {
        padding: 15px;
        font-size: 20px;
    }


    /* FOOTER */
    footer {
        background-color: #8ACB88;
        height: 100px;
    }
    footer p {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    /* FOOTER */
    footer {
        background-color: #8ACB88;
        height: 100px;
    }
    footer p {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.1rem;
    }

}
@media screen and (max-width: 500px) {

    body {
        margin: 0 auto;
        font-family: "Preahvihear";
    }
    /* HEADER */
    header {
        padding: 0.5rem;
        background-color: #8ACB88;
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }
    /* Hamburger button */
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #E6E8E6;
    }
    #menu {
        display: block;
        position: absolute;
	    top: .75rem;
        background-color: transparent;
        border: none;
    }
    #menu::before {
        content: "☰";
        color: #E6E8E6;
    }
    #menu.open::before {
        content: "☰";
        color: #E6E8E6;
    }
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }
    /* MAIN */
    main {
        height: 90vh;
        background-color: #E4FDE1;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    table {
        margin: 0 auto;
        background-color: #8ACB88;
        border-collapse: collapse;
        font-size: 13px;
    }
    th {
        text-align: center;
        border: 0.5px solid #E4FDE1;
        padding: 7px;
    }
    td {
        text-align: center;
        border: 1px solid #E4FDE1;
        padding: 10px 10px;
    }
    caption {
        font-size: 30px;
        margin: 50px 0;
    }
    .rental {
        padding: 15px;
        font-size: 20px;
    }

    /* FOOTER */
    footer {
        background-color: #8ACB88;
        height: 100px;
    }
    footer p {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.1rem;
    }
}