
@media screen and (min-width: 1024px) {
    
    
    body{
        font-family: "DM Sans";
        font-size: 1.3rem;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    /* hamburger menu*/
    #menu {
        display: none;
    }
    /* dark mode button */
    #dark {
        border-color: transparent;
        background-color: transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1.2rem;
        right: 2rem;
    }
    /* HEADER */
    header {
        background-color: #0B132B;
        display: flex;
        justify-content: flex-start;
    }
    .navigation {
        display: flex;
        padding: 1.5rem;
        list-style: none;
    }
    .navigation a {
        text-decoration: none;
        margin-right: 2rem;
        margin-left: 2rem;
        color: #E6E8E6;
    }
    header ul {
        margin: 0;
    }

    /* MAIN */
    main h1 {
        font-size: 2rem;
        text-align: center;
        padding: 1.5rem;
        margin: 0;

    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem 0 1rem;
    }
    .menu button {
        margin: 5px;
        padding: .6rem 1rem .6rem;
        border-radius: 10px;
        background-color: #0B132B;
        color: #E6E8E6;
    }
    /* grid */
    main {
	display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .members_grid {
        text-align: center;    
    }
    .section {
	display: block;
        border: 3px solid black;
        margin: .7rem;
        padding: 1rem;
        background-color: #4a5272;
        border-radius: 5px;
        color:white;
    }
    /* list */
    .section {
        display: grid;
        grid-template-columns: 250px 1fr 1fr;
        border: 3px solid black;
        background-color: #4a5272;
    }
    .members_list {
        display: flex;
        flex-direction: column;
        margin: 1rem 8rem 0;
        padding: 1rem;
        opacity: .7;
        color: white;
        border-radius: 5px;
    }
    .website {
        color: white;
        padding: .5rem;
    }
    .membership {
        text-align:left;
    }

    /* both list and grid */
    .dissapear {
        display: none;
    }

    /* FOOTER */
    footer {
        background-color: #E6E8E6;
        color: #0B132B;
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
    }
    footer .first {
        display: flex;
        justify-content: center;
    }
    p {
        padding: .5rem;
        margin: 0;
        margin-left: .7rem;
        margin-right: .7rem;
    }
}
@media screen and (max-width: 1024px) and (min-width: 350px) {

    body {
        font-family: "DM Sans";
        font-size: 1rem;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    /* dark mode button */
    #dark {
        border-color: transparent;
        background-color: transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        top: .7rem;
        right: .5rem;
    }
    /* HEADER */
    header {
        padding: 0.5rem;
        background-color: #0B132B;
        max-width: 100%;
    }
    /* Hamburger button */
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #E6E8E6;
    }
    #menu {
        display: block;
        position: absolute;
	    top: .75rem;
        background-color: transparent;
    }
    #menu::before {
        content: "☰";
        color: #E6E8E6;
    }
    #menu.open::before {
        content: "☰";
        color: #E6E8E6;
    }
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }

    /* MAIN */
    main h1 {
        font-size: 1rem;
        text-align: center;
        padding: 1.5rem 3rem 1.5rem;
        margin: 0;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: .5rem 0 .5rem;
    }
    .menu button {
        margin: 5px;
        padding: .3rem .5rem .3rem;
        border-radius: 10px;
        background-color: #0B132B;
        color: #E6E8E6;
        font-size: .7rem;
    }
    /* grid */
    .members_grid {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;    
        width: 90%;
        margin: 0 auto;
    }
    .section {
	display: block;
        border: 3px solid black;
        margin: 1rem auto 1rem;
        padding: 1rem;
        background-color: #4a5272;
        border-radius: 5px;
        color:white;
        width: 300px;
    }
    /* list */
    .section{
        display: grid;
        grid-template-columns: 100px .7fr 1fr;
        border: 3px solid black;
        border-radius: 5px;
        font-size: .6rem;
    }
    .members_list {
        display: flex;
        flex-direction: column;
        margin: 1rem 3rem 0;
        background-color: #4a5272;
        opacity: .7;
        color: white;
        border-radius: 5px;
    }
    .name {
        padding-left: .5rem;
    }
    .website {
        color: white;
        padding: .5rem;
    }
    .membership {
        text-align:left;
        
    }

    /* both list and grid */
    .dissapear {
        display: none;
    }

    /* FOOTER */
    footer {
        background-color: #E6E8E6;
        color: #0B132B;
        font-size: .9rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
        display: block;
    }
    
}
