@media screen and (max-width: 700px) and (min-width: 350px) {

    :root {
        --border: #3C3744;
        --radius: 5px;
        --radius2: 3px;
        --font: 1.20rem;
        --font2: 1rem;
        --letter: #B4C5E4;
    }

    body {
        font-family: "DM Sans";
        font-size: 1rem;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    /* dark mode button */
    #dark {
        border-color: transparent;
        background-color: transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        top: .7rem;
        right: .5rem;
    }
    /* HEADER */
    header {
        padding: 0.5rem;
        background-color: #0B132B;
        max-width: 100%;
    }
    /* Hamburger button */
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #E6E8E6;
    }
    #menu {
        display: block;
        position: absolute;
	    top: .75rem;
        background-color: transparent;
    }
    #menu::before {
        content: "☰";
        color: #E6E8E6;
    }
    #menu.open::before {
        content: "☰";
        color: #E6E8E6;
    }
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }

    /* MAIN */
    main {
        height: 100%;
        margin: 0 1rem 0;
    }
    form {
        width: 20rem;
        margin: 0 auto;
    }
    h1 {
        margin: 2rem 2rem 2rem;
        font-size: 1rem;
        text-align: center;
    }
    .submitButton {
        margin: 2rem 2rem 2rem;
    }
    fieldset {
        border: 2px solid var(--border);
        border-radius: var(--radius);
        font-size: var(--font);
    }
    .top {
        display: block;
        padding: .7rem 1rem .7rem;
        font-size: var(--font2);
    }
    .top input {
        display: block;
        font-size: var(--font);
        padding: .3rem;
        border-radius: var(--radius2);
        background-color: var(--border);
        color: var(--letter);
    }
    .sbs {
        display: block;
        padding: .4rem 1rem .4rem;
        font-size: var(--font2);
    }
    #bo_description {
        padding: 1.8rem 1rem 0;
    }
    #box {
        padding: 1rem;
    }
    .submitButton {
        padding: 1rem;
        border-radius: var(--radius2);
        background-color: var(--border);
        color: var(--letter);
        font-size: var(--font2);
    }    
    form label.top input:required {
        border-left: red solid 6px;
    }
    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    /* SIDEBAR */
    .sidebar {
        height: 100%;
        width: 85%;
        padding-top: 30px;
        padding-left: 40px;
        text-align: center;
    }
    .main {
        height: 100%;
        padding-left: 40px;
        width: 85%;
        text-align: center;
    }

    .sidebar p {
        padding: 1px 0 1px 0;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: black;
        display: block;
    }

    .sidebar a:hover {
        color: black;
    }


    .membership-level {
        background-color: #0B132B;
        color: #E6E8E6;
        font-size: 24px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        width: 75%;
        margin: 0 auto;
    }

    .level-details {
        padding: 10px;
    }


    /* FOOTER */
    footer {
        background-color: #E6E8E6;
        color: #0B132B;
        font-size: .9rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
        display: block;
    }
}
