

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    body{
        font-family: "DM Sans";
        font-size: 1.2rem;
    }
    a {
        text-decoration: none;
    }
    /* HEADER */
    header {
        background-color: #0B132B;
        margin: 0;
        height: 4rem;
    }
    #menu {
        display: none;
    }
    .navigation {
        display: flex;
        padding: 1.5rem;
        list-style: none;
    }
    .navigation a {
        text-decoration: none;
        margin-right: 2rem;
        margin-left: 2rem;
        color: #E6E8E6;
    }
    header ul {
        margin: 0;
    }
    /* MAIN */
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .hero img {
        width: 768px;
        height: auto;
        opacity: .65;
        position: relative;
    }
    main button {
        position: absolute;
        z-index: 1;
        background-color: #0B132B;
        color: #E6E8E6;
        border: none;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5px;
        opacity: .9;
    }

    main {
        max-height: 1500px;
        display: grid;
        grid-template-areas:
            "title"
            "hero"
            "event  weather"
            "spotlight";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100 px auto 200px 250px;
        align-items: center;
        justify-items: center;
        gap: 10px;
        padding: 1rem;
    }
    .title {
        grid-area: title;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        text-align: center;
    }
    .hero {
        grid-area: hero;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    .event a, .weather a, .spotlight a {
        color: rgb(175, 241, 219);
    }
    .event {
        grid-area: event;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        background-color: #0B132B;
        opacity: .7;
        color: #E6E8E6;
        padding: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 7px;
        height: 75%;
    }
    .weather {
        grid-area: weather;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        background-color: #0B132B;
        opacity: .7;
        color: #E6E8E6;
        padding: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 7px;
        height: 75%;
    }
    .spotlight {
        display: flex;
        grid-area: spotlight;
        grid-row: 4 / 5;
        grid-column: 1 / 3;
        padding: 2rem;
    }
    .review {
        background-color: #0B132B;
        opacity: .7;
        color:#E6E8E6;
        font-size: 1.1rem;
        height: 70%;
        padding: 1rem;
        margin: .5rem;
        text-align: center;
        border-radius: 7px;
    }

    /* FOOTER */
    footer {
        background-color: #E6E8E6;
        color: #0B132B;
        font-size: .8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
    }
    footer .first {
        display: flex;
        justify-content: center;
    }
    p {
        padding: .5rem;
        margin: 0;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    

}
