
@media screen and (min-width: 768px) and (max-width: 1023px){
    
    body{
        font-family: "DM Sans";
        font-size: 1.2rem;
    }
    a {
        text-decoration: none;
    }
    /* dark mode button */
    #dark {
        border-color: transparent;
        background-color: transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1.2rem;
        right: 2rem;
    }
    /* HEADER */
    header {
        background-color: #0B132B;
        margin: 0;
        height: 4rem;
    }
    #menu {
        display: none;
    }
    .navigation {
        display: flex;
        padding: 1.5rem;
        list-style: none;
    }
    .navigation a {
        text-decoration: none;
        margin-right: 2rem;
        margin-left: 2rem;
        color: #E6E8E6;
    }
    header ul {
        margin: 0;
    }
    /* MAIN */
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .hero img {
        width: 100%;
        height: auto;
        opacity: .65;
        position: relative;
    }
    main button {
        position: absolute;
        top: 75%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 1;
        background-color: #0B132B;
        color: #E6E8E6;
        border: none;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5px;
        opacity: .9;
    }

    main {
        max-height: 2000px;
        display: grid;
        grid-template-areas:
            "title"
            "hero"
            "first  weather"
            "first   second"
            "banner";
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 100px auto 500px 350px 300px;
        align-items: center;
        justify-items: center;
        gap: 10px;
        padding: 1rem;
    }
    .title {
        grid-area: title;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        text-align: center;
    }
    .hero {
        grid-area: hero;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    .event a, .weather a, .spotlight a {
        color: rgb(175, 241, 219);
    }
    .first_review {
        grid-area: first;
        grid-row: 3 / 5;
        grid-column: 1 / 2;
        background-color: #0B132B;
        opacity: .8;
        color: #f4faf4;
        margin: 2rem 5rem 2rem 2rem;
        padding: 1.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 7px;
        text-align: center;

    }
    .second_review {
        grid-area: second;
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .weather {
        grid-area: weather;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        background-color: #0B132B;
        opacity: .8;
        color: #f4faf4;
        padding: .5rem 2rem 1rem;
        border-radius: 7px;
        height: 50%;
        font-size: 1rem;
    }
    .second_review {
        background-color: #0B132B;
        opacity: .8;
        color: #f4faf4;
        font-size: .95rem;
        height: 15rem;
        padding: 1rem;
        margin: .5rem;
        text-align: center;
        border-radius: 7px;
    }
    .member_name {
        font-weight: bolder;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    .member_image {
        width: 225px;
        height: auto;
    }
    .membership {
        background: #b38600;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 2rem;
    }
    #forecast-list {
        list-style-type: none;
        padding-right: 2.5rem;
    }
    .back {
        grid-area: banner;
        grid-row: 5 / 6;
        grid-column: 1 / 3;
        position: relative;
        opacity: .5;
        z-index: 0;
        width: 750px;
        height: auto;
        border-radius: 20px;
    }
    .banner {
        grid-area: banner;
        grid-row: 5 / 6;
        grid-column: 1 / 3;
        z-index: 1;
        text-align: center;
    }
    .banner h3 {
        position: absolute;
        font-family: 'Young Serif';
        font-weight: lighter;
        top: 230%;
        left: 3%;
        font-size: 1.1rem;
        padding: 0 10rem 0;
    }
    #closeBanner {
        cursor: pointer;
    }
    /* FOOTER */
    footer {
        background-color: #E6E8E6;
        color: #0B132B;
        font-size: .8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
    }
    footer .first {
        display: flex;
        justify-content: center;
    }
    p {
        padding: .5rem;
        margin: 0;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    

}
