
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Poppins:wght@300&display=swap');

body {
    font-family: "Poppins";
    margin: 0px;
}
header {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    background-color: #B4C5E4;
    padding: 50px;
}
header img {
    height: 240px;
    width: 200px;
    margin-right: 20px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    background-color: #3C3744;
}
nav a {
    display: block;
    text-decoration: none;
    padding-bottom: 13px;
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 18px;
}
main {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr;
    max-height: 850px;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-items: center;
}
main h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-decoration: underline;
    max-height: 50px;
    padding-top: 10px;
    font-size: 22px;
}
.activities {
    grid-row: 2/3;
    grid-column: 1 / 2;
}
main ul {
    grid-column: 1 / 2;
    padding: 0;
    width: 25rem;
}
main li {
    list-style-type: none;
    background-color: #B4C5E4;
    border-radius: 5px;
    height: 25px;
    color: black;
    margin-bottom: 10px;
    font-size: inherit;
    padding-top: 5px;
}
main a {
    text-decoration: none;
    
}
#info {
    background-color: #3C3744;
    color: white;
    font-family: "Poppins";
    width: 100%;
}
.weather {
    display: grid;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-items: center;
}
footer {
    grid-column: 1 / 2;
    background-color: #B4C5E4;
    height: auto;
    margin: 0;
    padding-top: 10px;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
