@media screen and (max-width: 400px){
    
    header img {
        height: 190px;
        width: 150px;
    }
    nav ul {
        display: flex;
        font-weight: lighter;
        align-items: inherit;
        justify-content: inherit;
    }
    nav a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding-bottom: 13px;
        padding-top: 10px;
        background-color: #3C3744;
        color: white;
    }

    #menu-toggle {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: white;
        cursor: pointer;
        position: absolute; 
        top: 1rem;
        left: 1rem;
    }

    .navigation {
        display: flex;
        align-items: center; /* Vertically center content */
        justify-content: center; /* Horizontally distribute content */
        background-color: #3C3744;
        position: relative;
        padding-top: 3rem;
    }

    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    
    nav ul.active {
        display: flex;
    }


    main {
        background-color: #3C3744;
        color: white;
    }

    main ul {
        width: 21rem;
    }

    main li {
        font-size: 12px;
        padding-top: 8px;
    }

}
